

<h1><%= @note.title %></h1>
<p><%= @note.content %></p>


<% @note.taggings.each do |tagging| %>
  <div class="btn btn-success"> <%= tagging.tag.name %></div>
<% end %>


<%= link_to 'edit', edit_note_path(@note) %>

