
<div class="container text-center d-flex flex-column align-items-center mt-4 ">
<h1>Freelance Dashboard Ninou</h1>

    <%= link_to 'create a mission', new_mission_path, class: 'btn btn-primary mb-4' %>
    <%= link_to 'create a note', new_note_path, class: 'btn btn-primary mb-4' %>
    <%= link_to 'scrape remote missions', root_path, class: 'btn btn-danger mb-4'  %>
</div>
