


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random);">
  <div class="container">
    <h1>Freelance Dashboard Ninou<!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>

    <%= link_to 'create a mission', new_mission_path, class: 'btn btn-primary mb-4' %>
    <%= link_to 'create a note', new_note_path, class: 'btn btn-primary mb-4' %>
    <%= link_to 'scrape remote missions', root_path, class: 'btn btn-danger mb-4'  %>
    <!-- <a class="btn btn-flat" href="#">Apply now</a> -->
  </div>
</div>


